{% load static %}

<div class="row collapse article-publication-item">
    <div class="large-1 small-2 columns" style="text-align: center;">
        <a href="{{ article.get_absolute_url }}">
            {% if article.thumbnail %}
                <img src="{{article.thumbnail.url }}" alt="" width="48" />
            {% else %}
                <img src="{% static "img/article/blank.png" %}" alt="" width="48" />
            {% endif %}
        </a>
    </div>
    <div class="large-10 small-10 columns" style="padding-left: 5px;">
        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        {% if article.is_beta %}<span class="label alert">BETA</span>{% endif %}
        <p>{{ article.description }}</p>
    </div>
    <div class="small-1 columns hide-for-small">
        <div class="date-box">
            {% with date=article.pubdate %}
                {% include "misc/datebox.part.html" %}
            {% endwith %}
        </div>
    </div>
</div>
